/* fonts */
@font-face {
    font-family: 'Gotham-Ultra';
    src: url('../fonts/Gotham-Ultra.eot');
    src: url('../fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Ultra.woff') format('woff'),
         url('../fonts/Gotham-Ultra.ttf') format('truetype'),
         url('../fonts/Gotham-Ultra.svg#staticregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* helpers */
.h-pr { position: relative; }
.h-pa { position: absolute; }
.h-iblock { display: inline-block; margin-left: -5px; }
.h-txt-center { text-align: center; }
.h-txt-left { text-align: left; }
.h-txt-right { text-align: right; }
.h-tupper { text-transform: uppercase; }
.h-malign { vertical-align: middle; }
.h-valign:before {
	content:"";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 100%;
	margin-left: -5px;

}

#home {	
	background-image: url(../img/img-home.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	z-index:1;
}

#map_inner {
	width: 100%;
	top:100%;
	background: #000;
	opacity: 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	bottom: 100%;
}

.home-inner {
	width: 50%;
}
	.home-title {
		font: 100px 'Gotham-Ultra'; margin: 10px 0;
	}
	.home-subtitle span:before {
		content: "";
		position: absolute; 
		width: 40px;
		top: 50%;
		left: -50px;
		height: 1px;
		background: #fff;
		display: block;
	}
	.home-subtitle span:after {
		content: "";
		position: absolute; 
		width: 40px;
		top: 50%;
		right: -50px;
		height: 1px;
		background: #fff;
		display: block;
	}

	.button { display: inline-block; margin-top: 40px; }
	.button a {
		display: block;
		border: 1px solid #fff;
		font: 20px 'Gotham-Ultra';
		padding: 18px 30px;
		color: #fff;
		text-decoration: none;
		border-radius: 2px;
		transition: all .4s;
		-webkit-transition: all .4s;
	}
	.button a:hover {
		background: rgba(255, 255, 255, .8);
		color: #000;
	}

.inner-timeline {
	position: absolute;
	top: 80px;
	left: 80px;
	right: 80px;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.timeline {
	width: 100%;
	height: 1px;
	background: #fff;
	background: rgba(255, 255, 255, .6);
	z-index: 2;
}
	.timeline > span {
				transition: width .2s;
		-webkit-transition: width .2s;
		height:3px;
		border-radius: 50px;
		width: 20%;
		background-color: #ff5500;
		display: inline-block;
		top: -1px;
	}
/*reset cartodb infowindows */
div.cartodb-popup { 
	padding: 0;
	background: none;
	margin: 0;
}

/* infowindows */

.tooltip {
	z-index: 101;
	max-width: 780px;
	margin-bottom: 25px;
	position: relative;
}
	.tooltip:after {
		content: '';
		position: absolute;
		bottom: -14px;
		left: 0;
		width: 0;
		height: 0;
		margin-left: 28px;
		border-left: 0px solid transparent;
		border-right: 14px solid transparent;
		border-top: 14px solid white;
		z-index: 2;
	}

	.tooltip-title {
		font: 35px 'Gotham-Ultra';
		margin: 15px 0;
		text-transform: uppercase;
	}
	.tooltip-year {
		font: 32px 'Georgia';
		text-transform: uppercase;
	}
		.tooltip-year:before {
			content:"";
			width: 70px;
			height: 2px;
			background: #fff;
			display: block;
			margin-bottom: 8px;
		}

	.tooltip-inner {
		background: #fff;
		width: auto;
		overflow: hidden;
	}
		.tlt-01 .tooltip-inner {
			background: #E97E4F;
		}
		.tlt-01 .tooltip-year:before {
			background: #E97E4F;
		}
		.tlt-01 .tooltip-inner p {
			color: #fff;
		}
		.tlt-01 .tooltip-place {
			color: #e5e5e5;
			color: rgba(255, 255, 255, .6);
		}
		.tooltip.tlt-01:after {
			border-top: 14px solid #E97E4F;
		}


	.tooltip-inner p {
		font: 18px/22px 'Georgia';
		color: #333;
	}
	.tooltip-place {
		font: 14px/22px 'Georgia';
		color: #ccc;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	.tooltip-inner .txt {
		padding: 25px;
		width: 320px;
		float: left;
		display: inline;
	}
	.tlt-event .tooltip-inner .txt {
		padding: 25px;
		width: auto;
		float: none;
		display: block;
	}
	.tooltip-media {
		float:right;
		display: inline;
	}
		.tooltip-media iframe {
			display: block;
		}

		

.timeline { 
    position: absolute;
    left: 0;
    top: 165px;
    padding: 0;
    right: 0;
}
	.timeline .time-inner { 
	    background: #F86800;
	    height: 4px;
	    display: block; 
	    -webkit-transition: width .6s;
	    transition:width width .6s;
	}